@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #293b5f;
  padding: 3rem;
  color: rgb(238, 232, 232);
  border-radius: 0 20px;
}
h1 {
  padding: 1rem 0;
  font-weight: bolder;
}
